body {
    background-color: rgb(85, 223, 241);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    background-color: rgb(236, 29, 157);
    text-align: justify;
}
p {
    color: brown;
    text-align: justify;
}